@import "http://fonts.googleapis.com/css?family=Raleway";

body
{
  margin:auto;
  font-family:'Raleway',sans-serif
}

div
{
  height:50%;
  width: 75%;
  display: block;
  text-align:center;
  border: 3px solid #D8D8D8;
  margin:auto;
  margin-top: 5%;
  position: relative;
}
