@import "http://fonts.googleapis.com/css?family=Raleway";

body
{
  margin:auto;
  font-family:'Raleway',sans-serif
}

div
{
  height:85%;
  width: 30%;
  background-color:white;
  display: block;
  align:center;
  box-shadow:0 5px 5px 0 rgba(0,0,0,.24),0 5px 5px 0 rgba(0,0,0,.19);
  margin:auto;
  margin-top: 5%;
  position: relative;
}
